body{
    background-color:#cbe4eb;
}
#page1{
    display: flex; 
    flex-direction: row; 
    justify-content: space-around; 
    flex-wrap: wrap;
    align-content: center;
    height: 80vh;
    padding: 3em;
}

#sidebar{
    flex: 0 1 50%;
}
.headerIcon
{
    float:left;
    margin-left:10px;
    margin-right:10px
}
@media only screen and (max-width: 768px) {
    #page1{
        flex-direction: column; 
        justify-content: center; 
    }
  }

  @media only screen and (min-width: 768px) {
    #bio{
        flex: 1 1 auto;
        width: 50rem;
    }
  }
