<section class="section featured-projects">
  <div class="section__title">Featured Projects</div>
  <div class="section__content">

    <div class="project interventions">
      <figure class="project__pic">
        <a href="https://weknow.mikeowino.live" target="_blank">
          <img src="{{site.baseurl}}/img/featured/interventions/interventions.png" alt="">
        </a>
      </figure>
      <figcaption class="project__caption">
        <div class="project__name">
          <a href="https://weknow.mikeowino.live" target="_blank">WeKnow</a>
        </div>
        <p>My Anticipated business that hopefully will do a lot in the online market delivery.</p>
      </figcaption>
    </div>
  </div>
</section>


